body {
    margin: 0;
    Font-family: Verdana, Georgia, serif;
    min-width: 960px
}
.container {
  width: 960px;
    margin: 0 auto;
    overflow: auto;
    
}
header {
    text-align: center;
    width: 100%
}
nav {
    font-weight: bold;
    background-image: url('images/barsky.jpg')
}
nav ul, footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
    
}


nav li, footer li {
    display: inline;
    margin: 20px;
    text-transform: uppercase;
    
}
nav a {
    text-decoration: none;
    color: white;
    
}

nav a:hover{
    text-decoration: underline;
}
main {
    text-align: center;
    margin-bottom: 30px;
    color: darkgrey;
}
main h1 {
    font-weight: bold;
    letter-spacing: 0.4px;
    font-size: 2em;
    border-bottom: 1px ridge lightgray;
    margin-top: 40px
        
}
main img {
    width: 120%;
    margin: auto;
    padding: 2px;
    border: 1px solid lightgray;
    
}
.customerbox {
    border: 2px outset
        lightgray;
    width: 80%;
        margin-bottom: 20px;
    border-radius: 10px;
    
}
.customerbox h1 {
    font-size: 1.2em;
        margin-top: 0px;
    padding: 10px;
    
}
.customerbox p {
    padding: 0px 10px;
    
}
.customerbox h2 {
    border-top: 1px ridge lightgray;
    font-size: 1em;
    font-weight: normal;
    font-style: oblique;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    
}
.floatleft {
    margin-left: 15%;
    float: left;
}
.floatright {
    margin-right: 15%;
    float: right
}
.clearfloat {
    clear: both;
    
}

main table {
    border: 1px solid lightgray;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    align-content: center;
    
}
main th, main td {
    padding: 20px;
    border: 1px solid lightgray;
    
}
main th {
    background-color: paleturquoise;
    color: grey;
    font-size: 1.2em
        
}
main tr: nth-child (odd) {
    background-color: antiquewhite
}
main tr: nth-child(even) {
    background-color: burlywood
}

footer { background-image: url(images/barsky.jpg);
    text-align: center;
    width: 100%;
    color: black;
}
footer a { color: whitesmoke}
#contactus {
    width: 150px;
    height: 30px;
    background-color: azure;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    
}
#contactus a {
    text-decoration: none;
    color: azure
}
.customerts {
    text-align: center;
}